# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Custom config
conf/config.json
*.log
*.log.gz
.DS_Store
.idea/
venv/
wumingtianqi-sms-pre
go.mod
go.sum
Pipfile
Pipfile.lock
城市列表.xls
conf/python_config.yaml
*.out
